body { background-color:coral }
h1   { font-size: 60px; color: dodgerblue;}
div  { background-color:cornsilk}
p    {color: royalblue;}
pre  {color: brown; font-size: 15px; border: 2px solid lightgray;}